/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
  }
  
  body {
    height: 600px;
  background-color: rgb(255, 255, 255); 
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 240, 240));

}

img {
display: block;
margin: 0% auto;
width: 130px;
margin-top: 5vh;

}
  
  
  textarea:focus, input:focus{
    outline: none;
  }
  
  a {
    font-size: .8rem;
  }
  
  a:hover {
    color: #ff0000;
  }
  
  /* container login */
  #login-container {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 30px;
    margin-top: 2vh;
    border-radius: 10px;
    text-align: center;
  }
  
  /* formulário */
  form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 1px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  input:focus {
    border-bottom: 2px solid #ff0000;
  }
  
  #forgot-pass {
    display: block;
    text-align: right;
  }
  
  input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: #FFF;
    background-color: #ff0000;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #7c0000;
    transition: .5s;
  }
  
 
 
  
  /* registrar */
  #register-container p {
    margin-bottom: 10px;
  }

 

